<div class="student_code" id="student_code_{{xblock_id}}">{{student_code}}</div>
<div class="code-runner" id="code-runner_{{xblock_id}}" style="display:none;">
    <label for="code-runner-input_{{xblock_id}}">Input de teste (se necessário)</label>
    <div class="code-runner-block">
        <textarea autocapitalize="off" class="input code-runner-input" id="code-runner-input_{{xblock_id}}"
                  spellcheck="false"></textarea>
        <button class="submit btn-brand code-runner-button" data-should-enable-submit-button="True"
                data-submitting="Correndo"
                data-value="Correr código" id="code-runner-button_{{xblock_id}}"
                type="button">
            <span class="submit-label">Correr código</span>
            <span aria-hidden="true" class="icon fa fa-terminal"></span>
        </button>
    </div>
    <div class="code-runner-footer">
        <label for="code-runner-output_{{xblock_id}}">Output de teste</label>
        <pre class="code-runner-output" id="code-runner-output_{{xblock_id}}"></pre>
    </div>
</div>
{% if not no_submission %}
<div class="action">
    <div class="action-buttons">
        <button class="submit btn-brand" data-should-enable-submit-button="True" data-submitting="Correndo"
                data-value="Correr código" id="run_{{xblock_id}}"
                type="button">
            <span class="submit-label">Correr código</span>
            <span aria-hidden="true" class="icon fa fa-terminal"></span>
        </button>
        <button class="submit btn-upgrade" data-should-enable-submit-button="True" data-submitting="A submeter"
                data-value="Submeter" id="submit_{{xblock_id}}"
                type="button">
            <span class="submit-label">Submeter</span>
            <span aria-hidden="true" class="icon fa fa-caret-right"></span>
        </button>
    </div>
    <div class="problem-action-buttons-wrapper" id="model_answer_container_{{xblock_id}}" style="display: none;">
        <span class="problem-action-button-wrapper">
            <a class="btn-default btn-small" id="model_answer_button_{{ xblock_id }}" href="#model_answer_modal_{{ xblock_id }}">
                <strong>Ver solução modelo</strong>
            </a>
        </span>
    </div>
</div>
<div class="code-feedback" id="code-feedback_{{xblock_id}}">Nenhuma submissão avaliada.</div>
{% endif %}

{% if is_course_staff %}
<div class="submissions-header">
    <h3>Submissões</h3>
    {% if is_course_cohorted %}
        <select id="turmas_filter_{{xblock_id}}" data-column="4">
            <option value="">– Turma –</option>
            {% for turma in cohorts %}
                <option value="{{turma}}">{{turma}}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>
<table class="gridtable tablesorter" id="submissions_{{xblock_id}}">
    <thead>
    <tr>
        <th>Username</th>
        <th>Nome</th>
        <th>Timestamp</th>
        <th>Score</th>
        {% if is_course_cohorted %}
            <th class="filter-exact" data-value="{{cohort}}">Turma</th>
        {% endif %}
        <th data-sorter="false">Código</th>
    </tr>
    </thead>
    <tbody>
    {% for assignment in submissions %}
    <tr data-student_code="{{assignment.code}}" data-evaluation="{{assignment.evaluation}}" data-fullname="{{assignment.fullname}}">
        <td>{{assignment.username}}</td>
        <td>{{assignment.fullname}}</td>
        <td>{{assignment.timestamp}}</td>
        <td>{{assignment.score}}/100</td>
        {% if is_course_cohorted %}
            <td>{{assignment.cohort}}</td>
        {% endif %}
        <td>
            <a class="button view_code_button_{{ xblock_id }}" href="#view_code_{{ xblock_id }}">
                Ver Submissão
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<section aria-hidden="true" class="modal student-code-modal" id="view_code_{{ xblock_id }}" tabindex="-1">
    <div class="inner-wrapper" style="color: black">
        <header><h2>
            Aluno: <span id="view_code_student_name_{{ xblock_id }}"></span>
        </h2></header>
        <br/>
        <div style="display: block;">
            <div class="student_code" id="view_student_code_{{xblock_id}}"></div>
            <div class="code-feedback" id="view_code_feedback_{{xblock_id}}">Nenhuma submissão avaliada.</div>
        </div>
    </div>
</section>
{% endif %}

<section aria-hidden="true" class="modal student-code-modal" id="model_answer_modal_{{ xblock_id }}" tabindex="-1">
    <div class="inner-wrapper" style="color: black">
        <header><h2>
            Solução modelo
        </h2>
            <p style="text-align: center">Esta solução é apenas uma sugestão, a tua também está correta.</p></header>
        <div style="display: block;">
            <div id="view_model_answer_{{xblock_id}}"></div>
        </div>
    </div>
</section>
